@{
    ViewData["Title"] = "Seus cartoes";
}

<div class="text-center">
    <h1 class="display-4">Faça um novo cartão ou remodele um existente</h1>
    <p>Acesse o suporte em caso de dúvidas.</p>
</div>