@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao GigaCard</h1>
    <p>Aqui você terá ferramentas que o ajudarão a divulgar o seu trabalho.</p>
</div>

