@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))

{

<div class="text-center">
    <h1 class="display-4">Faça um novo cartão ou remodele um existente</h1>
    <p>Acesse o suporte em caso de dúvidas.</p>
</div>

}

else

{
<div class="text-center">
    <h1 class="display-4">Bem ao GigaCard</h1>
    <p>Aqui você terá ferramentas que o ajudarão a divulgar o seu trabalho.</p>
</div>
}
